<div class='about-wrapper'>
  <div class='about-title'>
    遊び方
  </div>
  <div class='top-container'>
    <div class='left-container'>
      <div class='explains'>
        <div class='explain'>
          <div class='num'>①</div>
          <div class='text'>
            始めるボタンを押して、ランダムに出てくる質問をみる<br>
          </div>
        </div>
        <div class='explain'>
          <div class='num'>②</div>
          <div class='text'>
            質問に対して自身の感覚を数値化する（数値化に正解はないので自分の感覚で１〜５を選んでみる）<br>
          </div>
        </div>
         <div class='explain'>
          <div class='num'>③</div>
          <div class='text'>
            対話をするパートナーもしくは複数人と「せーの、」で数字を共有する。
            数字の共有は何かものを使っても良い。（数字をマッチ棒の本数で表してみるなど）
          </div>
        </div>
        <div class='explain'>
          <div class='num'>④</div>
          <div class='text'>
            その数字を元に「なぜそう思ったか」を話し合ってみる。その際に気になることがあればどんどん聞いてみる<br>
          </div>
        </div>
        <div class='explain'>
          <div class='num'>⑤</div>
          <div class='text'>
           一通り話し終えたら「次に進む」or「終了する」を選ぶ<br>
          </div>
        </div>
      </div>
    </div>
    <div class='right-container'>
       <%= image_tag '/assets/6c959aa37c7e927cb8297551d84943b7.jpg', :width=> '250'%>
    </div>
  </div>
</div>