<div class='main-wrapper'>
  <div class='main-box'>
    <div class='game-title'>
      <h1>対話タイム</h1>
    </div>
    <div class='game-image'>
      <%= image_tag asset_path('/assets/1fc051097fc4d4fc2b5b08c1f339facd.jpg'),:width=>'250'%>
    </div>
    <div class='quiz-wrapper'>
      <div class='quiz-btn'>
        <%= link_to '始める',quiz_questions_path ,class: "quiz-start"%>
      </div>
      <div class='option'>
        <div class='about-btn'>
          <%= link_to '遊び方',about_questions_path ,class: "how-to-play"%>
        </div>
          <div class='index-btn'>
          <%= link_to '質問一覧',questions_path ,class: "index"%>
        </div>
      </div>
    </div>
  </div>
</div>