.about-wrapper{
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  text-align: center;
  font-family: '筑紫A丸ゴシック レギュラー';
  background-color: #fff5e2;
  .about-title{
    font-size: 30px;
    width: 15%;
    background-color: rgb(255,207,110);
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 3px;
  }
  .top-container{
    padding-top:10px ;
    padding-bottom: 30px;
    display: flex;
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid rgb(179, 179, 179);
    background-color: white;
    .left-container{
      padding-top: 50px;
      width: 60%;
      .explains{
        width: 70%;
        margin: auto;
        text-align: left;
        .explain{
          padding: 15px 0;
          display: flex;
          font-size: 18px;
          .num{}
          .text{
            
          }
        }
      }
    }
    .right-container{
      padding-top: 25px ;
    }
  }
}

@media (max-width: 480px){
  .about-wrapper{
    height: 100vh;
    margin-bottom: 20px;
    .about-title{
      width: 60%;
    }
    .top-container{
      .left-container{
        width: 100%;
        .explains{
          width: 90%;
        }
      }
      .right-container{
        display: none;
      }
    }
  }
}
